.customConmessage {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120vh;
  background-color: #1b1b1b;
  border-radius: 20px;
  color: white;
}

.customTitle {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
}

.customParagraph {
  color: #999;
  font-family: "Roboto", sans-serif;
}

.custombtn {
  background: #f5b754;
  width: 20%;
  padding: 14px 21px;
  color: #1b1b1b;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid;
}

.custombtn:hover {
  background-color: #fff;
}


@media (min-width: 576px) {
  .customConmessage {
    width: 90%;

  }
}

@media (max-width: 575px) {
  .customConmessage {
    width: 90%;

  }
}

@media (min-width: 992px) {
  .customConmessage {
    width: 70%;

  }
}